{
	"version": "10",
	"aliases": {
		"minio-s3-gateway": {
			"url": "http://localhost:9000",
			"accessKey": "{{ minio_s3_gateway_access_key }}",
			"secretKey": "{{ minio_s3_gateway_secret_key }}",
			"api": "s3v4",
			"path": "auto"
		}
	}
}